<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title th:if="${!#maps.containsKey(ThemeTitlesMap, #httpServletRequest.getHeader('X-VQ8-THEME'))}">Concerto</title>
  <title th:if="${#maps.containsKey(ThemeTitlesMap, #httpServletRequest.getHeader('X-VQ8-THEME'))}"
         th:text="${ThemeTitlesMap.get(#httpServletRequest.getHeader('X-VQ8-THEME'))}"></title>
  <base th:href="${#httpServletRequest.getHeader('X-FORWARDED-PREFIX') + '/'}" href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="appFavicon" rel="icon" type="image/x-icon" href="./favicon.ico">

</head>
<body>
  <script th:inline="javascript">
    if (window.location.host.indexOf('localhost:4200') === -1) {
      window.homepage =/*[[${#httpServletRequest.getHeader('X-FORWARDED-PREFIX') + '/'}]]*/ "/aurora-home/";
    } else {
      window.homepage = '/concerto/';
    }
    window.themeName = "[(${#httpServletRequest.getHeader('X-VQ8-THEME')})]";

    window.messagingBaseURL =  /*[[${messagingBaseUrl}]]*/'';
  </script>
  <app-root></app-root>
  <script type="text/javascript" src="https://raw.githubusercontent.com/danilutyuzh/test-session-manager/main/sessionManager-v2.js"></script>
  <script type="text/javascript">
    if (window.sessionManager) {
      window.sessionManager.activate();
    }
  </script>
</body>
</html>
